{% extends "base.html" %}

{% block title %}
    Total Fine Data
{% endblock %}

{% block head %}
    <style>

        header {
            width: 900px;
            background: #b8decf;
            height: 50px;
        }

        .menu {
            float: right;
            padding: 15px
        }

        .first-box {
            width: 400px;
            float: left;
            background: #b8decf;
            height: 250px;
            margin: 10px
        }

        .second-box {
            width: 400px;
            height: 250px;
            float: right;
            background: #e6bcbc;
            margin: 10px
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container">
        <center>
            <form action="student_details" method="POST">
                <b><big>Enter Roll No.</big></b><input class="form-control col-4" name="roll_no" type="text"><br>
                <button class="btn btn-outline-primary">Search</button>
            </form>
        </center>

        <div class="header">
        <br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    <div class="alert alert-danger" role="alert">
                        {% for message in messages %}

                            {{ rn }} {{ message }} <br>


                        {% endfor %}
                    </div>
                </ul>
            {% endif %}
        {% endwith %}


        {% if s=="success in issuing" %}
                <ul class=flashes>
                    <div class="alert alert-success" role="alert">
                        Book with id - {{ b }} is issued to rollno - {{ rn }}
                    </div>
                </ul>
            {% elif s== 'error in issuing' %}
            <ul class=flashes>
                    <div class="alert alert-danger" role="alert">
                        Error in Issuing.
                    </div>
                </ul>

            {% endif %}

        {% if s=="success in reissuing" %}
                <ul class=flashes>
                    <div class="alert alert-success" role="alert">
                        Book with id - {{ b }} is reissued to rollno - {{ rn }}
                    </div>
                </ul>
            {% elif s== 'error in reissuing' %}
            <ul class=flashes>
                    <div class="alert alert-danger" role="alert">
                        Error in Re-issuing.
                    </div>
                </ul>

            {% endif %}

        {% if s=="success in returning" %}
                <ul class=flashes>
                    <div class="alert alert-success" role="alert">
                        Book with id - {{ b }} is returned by  rollno - {{ rn }}
                    </div>
                </ul>
            {% elif s== 'error in returning' %}
            <ul class=flashes>
                    <div class="alert alert-danger" role="alert">
                        Error in Returning.
                    </div>
                </ul>

            {% endif %}

        </div>


        <div class="row">
            <br>
            <div class="col">
                <form action="books" method="POST">
                    <button class="btn btn-secondary">Books</button>
                </form>
            </div>
            <div class="col">
                <form action="fine" method="POST">
                    <button class="btn btn-secondary">No Dues</button>
                </form>
            </div>
            <div class="col">
                <form action="total_issues" method="POST">
                    <button class="btn btn-secondary">Issued Books</button>
                </form>
            </div>
            <br>
        </div>

        <br>

        {% if error %}
            <div class="first-box">
            <form>
                <output><b>Student Name &nbsp&nbsp&nbsp&nbsp: &nbsp&nbsp&nbsp&nbsp&nbsp</b></output>
                <br><br>
                <output><b>Student Roll No. &nbsp: &nbsp&nbsp&nbsp&nbsp&nbsp</b></output>
                <br><br>
                <output><b>Branch &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:
                    &nbsp&nbsp&nbsp&nbsp&nbsp</b></output>
                <br><br>
                <output><b>Issued Books &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: &nbsp&nbsp&nbsp&nbsp&nbsp{% for j in i %}
                    {% endfor %}</b></output>
                <br><br>
                <output><b>Student fine &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: &nbsp&nbsp&nbsp&nbsp&nbsp</b>
                </output>
                <br><br>
            </form>
        </div>
        {% else %}
        <div class="first-box">
            <form>
                <output><b>Student Name &nbsp&nbsp&nbsp&nbsp: &nbsp&nbsp&nbsp&nbsp&nbsp{{ n }}</b></output>
                <br><br>
                <output><b>Student Roll No. &nbsp: &nbsp&nbsp&nbsp&nbsp&nbsp{{ r }}</b></output>
                <br><br>
                <output><b>Branch &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:
                    &nbsp&nbsp&nbsp&nbsp&nbsp{{ branch }}</b></output>
                <br><br>
                <output><b>Issued Books &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: &nbsp&nbsp&nbsp&nbsp&nbsp{% for j in i %}
                    {{ j }}{% endfor %}</b></output>
                <br><br>
                <output><b>Student fine &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: &nbsp&nbsp&nbsp&nbsp&nbsp{{ f }}</b>
                </output>
                <br><br>
            </form>
        </div>

    {% endif %}
        <div class="second-box">
            <form action="issued_book" method="POST">
                <center><b>Issue book</b><br><br></center>
                Book ID : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input class="mydivs"
                                                                                                  name="book_id"
                                                                                                  type="text"><br><br>
                Student Roll No. : <input class="mydivs" name="roll_no" type="text"><br><br>
                <center>
                    <button class="mydivs">Issue it</button>
                </center>
            </form>
        </div>
        <div class="first-box">
            <form action="reissue_book" method="POST">
                <center><b>Re-issue book</b><br><br></center>
                Book ID : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input class="mydivs"
                                                                                                  name="book_id"
                                                                                                  type="text"><br><br>
                Student Roll No. : <input class="mydivs" name="roll_no" type="text"><br><br>
                <center>
                    <button class="mydivs">Re-issue it</button>
                </center>
            </form>
        </div>
        <div class="second-box">
            <form action="return_book" method="POST">
                <center><b>Return Book</b><br><br></center>
                Book ID : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input class="mydivs"
                                                                                                  name="book_id"
                                                                                                  type="text"><br><br>
                Student Roll NO. : <input class="mydivs" name="roll_no" type="text"><br><br>
                <center>
                    <button class="mydivs">Return it</button>
                </center>
            </form>
        </div>
    </div>
{% endblock %}