{% extends "base.html" %}

{% block title %}
    Total Fine Data
{% endblock %}

{% block body %}
    <form action="dashboard" method="POST">
        <button class="btn btn-secondary">Back on Dashboard</button>

    </form>
<br>
    <table class="table table-bordered table-striped" >
        <thead class="thead-light">
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Roll No</th>
            <th scope="col">Student Name</th>
            <th scope="col">Branch</th>
            <th scope="col">Semester</th>
            <th scope="col">Fine</th>

        </tr>
        </thead>
        <tbody>
        {% for x in d %}
            <tr>
                <th scope="row">{{ loop.index0 + 1 }}</th>
                <td>{{ x['roll_no'] }}</td>
                <td>{{ x['name'] }}</td>
                <td>{{ x['course'] }}</td>
                <td>{{ x['sem'] }}</td>
                {% if x['fine'] == None %}

                    <td>{{ 0 }}</td>
                {% else %}
                    <td>{{ x['fine'] }}</td>
                {% endif %}
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% endblock %}
