{% extends "base.html" %}

{% block title %}
    Total Books Issued
{% endblock %}

{% block body %}

    <form action="dashboard" method="POST">
        <button class="btn btn-secondary">Back on Dashboard</button>

    </form>

    <br>
<table class="table table-bordered table-striped ">
    <thead class="thead-light">
    <tr>
        <th scope="col">S No.</th>
        <th scope="col">Student Name</th>
        <th scope="col">Student Roll No.</th>
        <th scope="col">Book Id</th>
        <th scope="col">Book Name</th>
    </tr>
    </thead>
    <tbody>
    {% for x in d %}
        <tr>
            <th scope="row">{{ loop.index0 + 1 }}</th>
            <td>{{ x['student_name'] }}</td>
            <td>{{ x['roll_no'] }}</td>
            <td>{{ x['book_id'] }}</td>
            <td>{{ x['book_name'] }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}
